* {
  /* margin: auto; */
  font-size: 1.5rem;
}

body {
  /* background: none; */
  /* margin: 0;
  padding: 0; */
}

.website {
  min-height: 100vh;
  /* width: 100px; */
}

.container {
  width: 80%;
  margin: auto;
}
button {
  background: lightblue;
  padding: 5px 20px;
  border: 50px;
  border-radius: 5px;
  color: white;
  float: right;
  /* float: unset; */
  box-shadow: -5px 5px 5px rgba(rgb(109, 7, 7), green, blue, alpha);
  animation: rolling 3s infinite ease-in;
}

@keyframes rolling {
  0% {
    float: right;
  }

  50% {
    float: left;
    color: #000;
  }
  75% {
    float: left;
  }

  100% {
    float: right;
  }
}
.header {
  background: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}

.h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
}

.msg {
  padding-left: 20px;
}

.h1 ul {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
  margin-left: 16px;
}

.h1 ul li {
  margin-left: 20px;
  cursor: pointer;
}

.h1 ul li:hover {
  color: tomato;
}

/* Main Section */
.main {
  background: #000;
  height: 90vh;
  color: white;
  background: url(https://images.unsplash.com/photo-1642543492457-39a2ce63bb59?ixlib=rb.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: fixed;
}

.main-part {
  background: #000;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.main-part p {
  animation: colour 5s infinite;
}

@keyframes colour {
  0% {
    color: yellow;
  }

  25% {
    color: #ee112d;
    /* font-size: 1rem; */
  }

  50% {
    color: #9cee11;
  }

  65% {
    color: #11eed2;
  }
  80% {
    color: #4bd22d;
  }

  100% {
    color: #b42dd2;
  }
}

.scrol {
  position: absolute;
  bottom: 250px;
  font: bolder;
  color: yellow;
  transform: rotate(90deg);
  animation: go-down 5s infinite;
}
@keyframes go-down {
  0% {
    bottom: 250px;
    color: yellow;
  }

  25% {
    color: #ee112d;
  }

  50% {
    color: #9cee11;
  }

  65% {
    color: #11eed2;
  }
  80% {
    color: #4bd22d;
  }

  100% {
    bottom: 50px;
    color: #b42dd2;
  }
}

/* image sections */

.news {
  width: 80%;
  margin-right: 25px;
}

h3 {
  padding-top: 70px;
}

img {
  height: 180px;
  /* width: 180px; */
  box-shadow: 5px 5px 5px 5px rgb(243, 216, 216);
}

h2 {
  padding-top: 30px;
}

.main-2 {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}

.img1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  padding-top: 20px;
}

.img2 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  align-items: center;
}

.img3 {
  display: flex;
  padding-top: 20px;
  align-items: center;
}

.date {
  padding-left: 80px;
}

date {
  background: orange;
  padding: 5px;
}

.link {
  background: #32b4cd;
  width: 30%;
  border-radius: 5px;
  padding: 32px 16px;
  /* text-align: center; */
}

.by-date {
  text-align: center;
  list-style: none;
  padding: 5px;
}
.by-date li {
  cursor: pointer;
}
li:hover {
  color: whitesmoke;
  background: #000;
  border: none;
}

.img-1 {
  padding-top: 150px;
  color: white;
  background-size: cover;
}

.image {
  background-image: url(./images/01.PNG);
  background-position: center;
  height: 500px;
  background-size: cover;
  padding-top: 20px;
}

h4 {
  font-size: bolder;
}

.contact {
  padding-top: 200px;
  color: black;
}
h4 {
  text-transform: uppercase;
}
.contact1 {
  /* background: #15ea57; */
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 30px;
}

form {
  padding-top: 30px;
  padding-left: 50px;
}

.map {
  background: url(https://docs.mapbox.com/help/assets/how-mapbox-works--imagery-4up-960-a1f61d51d54da37393580d4b60b4e0ec.webp);
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
}

.footer {
  background: #000;
  min-width: none;
  min-height: 150px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer1 {
  text-align: center;
}

.footer li {
  list-style: none;
  padding-right: 100px;
}

.footer li i {
  margin: 6px;
  cursor: pointer;
}
